
:root {
    --color-yellow: #ffdb58;
    --color-text: #201b1f;
    --color-gray: #4f484b;
    --color-off-gray: #857a71;
    --color-white: #ffffff;
    --color-brown: #665e57;
  }
  
body {
    background-color: var(--color-brown);
    color: var(--color-text);
    /* font-family: battleTechFont; */
    font-family: 'Open Sans', sans-serif;
    background: url('../images/hero/2019-battletech-4k_1547938494.jpg') no-repeat center center var(--color-white); */

    /* background: var(--color-white); */
}

footer {
  background: var(--color-text);
}


main {
  /* max-height: 100vh; */
}

a:link {
  color: var(--color-text);
}

a:visited {
  color: var(--color-text);
}

a:focus {
  text-decoration: none;
  color: var(--color-yellow);
}

a:hover {
  text-decoration: none;
  color: var(--color-yellow);
}

a:active {
  color: var(--color-text);
}

.container {
  background: var(--color-white);
  border: 10px solid var(--color-yellow);
  /* height:100%; */
  /* width: 100%; */
}

.message-container {
  background-color:rgba(0, 0, 0, 0);
  border: none
  /* border: 10px solid var(--color-yellow); */
}
/* from https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */

.iframe-toggle {
  padding-bottom: 10px;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}


.image-container {
  position: relative;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


/* Landing page specifics */

#banner {
  display: flex;
  justify-content: center;
}

/* Outer wrapper for the hero image to act as picture frame  */

#banner-wrapper {
  height: 300px;
  width: 1800px;
  overflow: hidden;
  position: relative;
  margin: 20px;
}

/* Zoom out hero image poditioning and animation */
#banner-image {
  height: 100%;
  width: 100%;
  /* background: url('../images/hero/2019-battletech-4k_1547938494.jpg') no-repeat center center; */
  background: url('../images/hero/2019-battletech-4k_1547938494.jpg') no-repeat center top;
  animation-name: banner-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  margin: 0 auto;
}

@keyframes banner-zoom {
  from {
      transform: scale(1.4);
      background-size: cover;
  }

  to {
      transform: scale(1.0);
      background-size: cover;
  }
}

/* Animated cover text positioning */
#banner-cover-text{
  max-width: 200px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: var(--color-brown);
  color: var(--color-white);
  padding: 1rem;
}

#banner-cover-text h2 {
  margin-bottom: 6px;
  /* text-decoration: underline;
  text-underline-offset: 4px; */
  text-transform: uppercase;
  font-size: 1.5rem;
}

#banner-cover-text h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

.head-message-1 {
  animation-name: banner-cover-colors;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.head-message-2 {
  animation-name: banner-cover-colors;
  animation-duration: 5s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.head-message-3 {
  animation-name: banner-cover-colors;
  animation-duration: 5s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes banner-cover-colors {
  from{
      opacity: 0;
  }
  to{
      color: var(--color-yellow);
      opacity: 1;
  }
}

/*, .carousel-indicators */

.carousel-control-next,
.carousel-control-prev  {
    filter: invert(100%);
}

.btn-delete {
  background-color: var(--color-white);
  border: #dc3545 solid 2px;
}

.btn-signup {
  margin-bottom: 1rem;
}
