{% extends 'base.html' %} {% block content %}

{% load static %}
{% static "" as baseUrl %}
<!-- Fix the toggle and make edit mech finsih on mech view -->
<div class="container">
    <div class="row">
        <div class="col-12">
            {% if perms.webapp.delete_mech %}
                <a class="btn btn-warning" href="{% url 'mech_delete' mech.slug %}"><i class="fa fa-trash"></i> Delete</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
    <div class="row align-items-center">
        <div class="col-sm-12 col-lg-6 left">            
            <div class="image-container text-center">
                <h2>{{ mech.name }}</h2>
                <img src="{{ baseUrl }}images/mechs/{{ mech.image }}-rg.png" alt="{{ mech.name }} Profile Picture" class="img-fluid img-thumbnail">
                <h5>
                    {{ mech.get_tech_level_display }} | {{ mech.get_category_display }} Mech
                </h5>
                <p>
                    {% if mech.get_status_display == "Available" %}
                        <span class="badge badge-success">{{ mech.get_status_display }}</span>
                    {% else %}
                        <span class="badge badge-warning">{{ mech.get_status_display }}</span>
                    {% endif %}
                </p>
                <p>
                    {% if perms.webapp.change_mech %}
                        <a class="btn btn-warning" href="{% url 'mech_update' mech.slug %}"><i class="fa fa-edit"></i> Edit</a>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-6 text-middle">
            <h3>Unit Summary</h3>
            <p>The {{ mech.name }} is a {{ mech.get_weight_display }}, {{ mech.get_tech_level_display }} Battlemech.</p>
            <p>Typically this mech fulfills as the {{ mech.get_role_display }} in a unit with the base configuration coming in with a BV of: {{ mech.battle_value }}</p> 
            <h4>SARNA: Description</h4>
            <p>{{ mech.description }}</p> 
        </div>
        {% if mech.get_status_display == "Available" %}
    </div>
    <div class="row">
        <div class="col-12 left">
            <div class="text-center iframe-toggle">
                <a class="btn btn-warning" data-toggle="collapse" href="#collapseSheet" role="button" aria-expanded="false" aria-controls="collapseSheet">
                    <i class="fas fa-eye"></i> Examine Record Sheet
                </a>
            </div>
            <div class="collapse" id="collapseSheet">
                <div class="iframe-container text-center">
                    <iframe class="dropdown-item responsive-iframe" src="{{ baseUrl }}images/readouts/{{ mech.record_sheet }}.pdf#view=FitH"></iframe>
                </div>
            </div>
        </div>
        {% endif %}
    </div>


</div>

{% endblock content %}