{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}
{% static "" as baseUrl %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 left">  
      <h1>Add New Mech</h1>
    </div>
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="row align-items-center">
      <div class="col-sm-12 col-lg-6 left">            
          <div class="image-container text-center">
              {{ form.name|as_crispy_field }}
                <img src="{{ baseUrl }}images/mechs/placeholder-rg.png" alt="Placeholder Profile Picture" class="img-fluid img-thumbnail">
                {{ form.tech_level|as_crispy_field }}
                {{ form.category|as_crispy_field  }}
                {{ form.status|as_crispy_field }}
          </div>
      </div>
      <div class="col-12 col-lg-6 text-middle">
        {{ form.weight|as_crispy_field }}
        {{ form.role|as_crispy_field }}
        {{ form.battle_value|as_crispy_field }}
        {{ form.description|as_crispy_field }}
        {{ form.record_sheet|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="form-buttons float-right">
          <button style="margin: 1rem;" type="submit" value="Save" class="btn btn-warning">Submit</button>
          <a href="{% url 'mechs'%}" class="btn btn-outline">Cancel</a>
        </p>
      </div>
    </div>
    </form>
</div>
{%endblock%}